[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */__init__.py
    */settings/*
    manage.py
    */asgi.py
    */wsgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstract

precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
